.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bt{
    width: 100px;
}

#lp{
    width: 200px;
}

